*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
    /* Image Slider styling start here */
.slider
{
   
    width: 100%;
    height: 75vh;
    overflow: hidden;
}
.slides
{
    display: flex;
    width: 500%;
    height: 75vh;
    
}
.slides input
{
    display: none;
}
.slide
{
    width: 20%;
    transition: 2s;
}
    /* Add slide background  */
#slide1

{
    background: url("https://source.unsplash.com/1500x500/?nature,darkwater");
}
#slide2
{
    background: url("https://source.unsplash.com/1500x500/?artificial-intelligence");
}
#slide3
{
    background: url("https://source.unsplash.com/1500x500/?hacker,technology");
}
#slide4
{
    background: url("https://source.unsplash.com/1500x500/?computer");
}

   /* style for manual slide navigation */
   .navigation-manual
   {
       position: absolute;
       width: 575px;
       margin-top: -40px;
       display: flex;
       justify-content: center;
   }
   .manual-btn
   {
       padding: 5px;
       border-radius: 10px;
       cursor: pointer;
       transition:1s;
   }
   .manual-btn:not(:last-child)
   {
       margin-right: 10px;
   }
   .manual-btn:hover{
       background:antiquewhite;
   }
   #radio1:checked ~ .first
   {
       margin-left: 0;
   }
   #radio2:checked ~ .first
   {
       margin-left: -20%;  
   }
   #radio3:checked ~ .first
   {
       margin-left: -40%;   
   }
   #radio4:checked ~ .first
   {
       margin-left: -60%;   
   }
       /* style for automatic navigation */
   
   .navigation-auto
   {
       position: absolute;
       display: flex;
       width: 575px;
       justify-content: center;
       margin-top: 393px;
   
   }
   .navigation-auto div
   {
       border:2px solid white;
       padding: 5px;
       border-radius: 10px;
       transition:1s;
   }
   .navigation-auto div:not(:last-child)
   {
       margin-right: 10px;
   }
   #radio1:checked ~ .navigation-auto .auto-btn1
   {
       background: antiquewhite;
   }
   #radio2:checked ~ .navigation-auto .auto-btn2
   {
       background: antiquewhite;
   }
   #radio3:checked ~ .navigation-auto .auto-btn3
   {
       background: antiquewhite;
   }
   #radio4:checked ~ .navigation-auto .auto-btn4 
   {
       background: antiquewhite;
   }

   /* ***************Automatic slide navigation styling end here************** */

   /* Website navbar styling start here */
.brandName
{
    font-size: 25px;
    font-weight: bolder;    
    margin-left: 200px;  
}
.brandName a 
{
    text-decoration: none;
    color:white;
}
nav
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;         /* To set vertically center */
    min-height: 10vh;
}
.navLinks
{
   display: flex;
   list-style-type: none;
   margin-right: 180px;  
}
.navLinks a 
{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 14px; 
    color:white;
    margin-right: 30px;
    padding: 6px 8px;
    border-radius: 5px;
    transition:font-size 0.3s ease;  
}
.navLinks a:hover,.navLinks a.active
{
    /* color:#1b1b1b;
    background: #fff; */
    color:darkcyan;
   
}
nav .menu-btn i 
{
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click
{
    display:none;
}
    /************* Media query for making responsive navbar *********************/

@media (max-width:940px)
{
    .navLinks
    {
        position: fixed;
        top: 80px;
        left:-100%;
        background: #111;
        height:75vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navLinks a:hover,.navLinks a.active
    {
        font-size:20px;
        font-weight:bold;
    }
    #click:checked ~ .navLinks
    {
        left:0%; 
    }
    .navLinks li 
    {
        margin:40px 0;
    }
    .navLinks a 
    {
        font-size: 14px;
        display: block;
    }
    .brandName
    {
        margin-left: -35px;
    }
    nav .menu-btn i 
    {
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content:"\f00d";
    }
}
        /************* Media query for responsive navbar end *******************/

    /* Website Introduction section start here */
    
#intro-content
{
   /* border:2px dashed blue; */
   margin-left:282px;
   margin-top: 5%;
   /* width: 100%; */
   
}
#intro-content p:first-child
{
    font-size:38px;
    word-spacing:10px;
    color:white;
    font-weight: bold;
}
#intro-content p:last-child
{
    font-size: 16px;
    color:white;
    word-spacing:3px;
    margin-top:20px;

}
    /* Intro buttons start here */
    
#intro-btns
{
    margin-left: 282px;
    margin-top: 30px;
    
}
.intro-btns
{
    width: 115px;
    padding:10px;
    background-color: yellow;
    border:none;
    text-transform: uppercase;    
}
.intro-btns:hover
{
    background-color: purple;
    color:white;
    cursor:pointer;
}
/* Intro buttons end here */

/******************************* Website Introduction section end here ********************************/

                                    /* *** Page - 2 styling start here *** */
.heading-2
{
    /* border:2px solid blue; */
    margin-top:8vh;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    word-spacing: 5px;
}
#Page2-Intro
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    /* border:2px solid black; */
    font-size: 20px;
    margin:0% 20% 0% 20%;
}
.intro-para
{
    /* border:2px solid blue; */
    padding: 10px 25px;
    color:gray
}
.umbrella-container
{
    /* border: 2px solid yellow; */
    padding: 10px 25px;
}
#umbrella-icon
{
    height: 175px;
    width: 175px;  
}
#SVG-iconContainer
{
    /* border:2px solid orange; */
    display: flex;
    justify-content: space-around;
    margin:0% 20% 0% 20%;
    padding: 10px 0px;
}
#SVG-descContainer
{
    border-bottom:2px solid gray;
    margin:0% 20% 0% 20%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8vh;
}
#SVG-descContainer h2
{
    text-align: center;
    padding: 8px 10px;
    font-size: 20px;
    color:#65317D;
    text-transform: uppercase;
}
#SVG-descContainer p
{
    text-align: center;
    padding: 8px 10px;
    color: gray;
    font-size: 18px;
    line-height: 1.5em;
}
#SVG-descContainer button
{
    width: 115px;
    padding:10px;
    background-color: yellow;
    border:none;
    text-transform: uppercase;
    /* font-weight: 550; */
    margin:20px 30px 20px 30px;
}
#SVG-descContainer button:hover
{
    color:white;
    background-color: #65317D; /*purple color */
    cursor: pointer;
}
.bell-descContainer,.msg-descContainer,.drawer-descContainer
{
    /* border:2px solid purple; */
    width: 25%;
    margin-bottom: 6vh;
}
                             /* *** Page - 2 styling end here *** */

