*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    /* Image Slider styling start here */
.slider
{
   
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slides
{
    display: flex;
    width: 500%;
    height: 100vh;
    
}
.slides input
{
    display: none;
}
.slide
{
    width: 20%;
    transition: 2s;
}
    /* Add slide background  */
#slide1

{
    background: url("https://source.unsplash.com/1500x800/?nature,darkwater") no-repeat; 
    
}
#slide2
{
    background: url("https://source.unsplash.com/1500x800/?artificial-intelligence") no-repeat;
}
#slide3
{
    background: url("https://source.unsplash.com/1500x800/?hacker,technology") no-repeat;
}
#slide4
{
    background: url("https://source.unsplash.com/1500x800/?computer") no-repeat;
}

   /* style for manual slide navigation */
   .navigation-manual
   {
       position: absolute;
       width: 575px;
       margin-top: -40px;
       display: flex;
       justify-content: center;
   }
   .manual-btn
   {
       border: 2px solid white;
       padding: 5px;
       border-radius: 10px;
       cursor: pointer;
       transition:1s;
   }
   .manual-btn:not(:last-child)
   {
       margin-right: 10px;
   }
   .manual-btn:hover{
       background:antiquewhite;
   }
   #radio1:checked ~ .first
   {
       margin-left: 0;
   }
   #radio2:checked ~ .first
   {
       margin-left: -20%;  
   }
   #radio3:checked ~ .first
   {
       margin-left: -40%;   
   }
   #radio4:checked ~ .first
   {
       margin-left: -60%;   
   }
       /* style for automatic navigation */
   
   .navigation-auto
   {
       position: absolute;
       display: flex;
       width: 575px;
       justify-content: center;
       margin-top: 537px;
   
   }
   .navigation-auto div
   {
       border:2px solid white;
       padding: 5px;
       border-radius: 10px;
       transition:1s;
   }
   .navigation-auto div:not(:last-child)
   {
       margin-right: 10px;
   }
   #radio1:checked ~ .navigation-auto .auto-btn1
   {
       background: antiquewhite;
   }
   #radio2:checked ~ .navigation-auto .auto-btn2
   {
       background: antiquewhite;
   }
   #radio3:checked ~ .navigation-auto .auto-btn3
   {
       background: antiquewhite;
   }
   #radio4:checked ~ .navigation-auto .auto-btn4 
   {
       background: antiquewhite;
   }

   /* ***************Automatic slide navigation styling end here************** */

   /* Website navbar styling start here */

#navbar
{
    overflow: hidden;
    position: fixed; /* Make it stick/fixed */
    width: 100%; /* Full width */
    transition: top 0.1s; /* Transition effect when sliding down (and up) */
}
   
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
.brandName
{
    font-size: 25px;
    font-weight: bolder;    
    margin-left: 200px;  
}
.brandName a 
{
    text-decoration: none;
    color:white;
}
nav
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;         /* To set vertically center */
    min-height: 12vh;
}
.navLinks
{
   display: flex;
   list-style-type: none;
   margin-right: 180px;  
}
.navLinks a 
{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 14px; 
    color:white;
    margin-right: 30px;
    padding: 6px 8px;
    border-radius: 5px;
    transition:font-size 0.3s ease;  
}

nav .menu-btn i 
{
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click
{
    display:none;
}
    /************* Media query for making responsive navbar *********************/

@media (max-width:940px)
{

     .navLinks
    {
        position: fixed;
        top: 68px;
        left:-100%; 
        background:#111;
        height:55vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease; 
    }

    .navLinks a:hover,.navLinks a.active
    {
        font-size:20px;
        font-weight:bold;
    }
    #click:checked ~ .navLinks
    {
        left:0%; 
    }
    .navLinks li 
    {
        margin:15px 0;
    }
    .navLinks a 
    {
        font-size: 14px;
        display: block;
    }
    .brandName
    {
        margin-left: -35px;
    }
    nav .menu-btn i 
    {
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content:"\f00d";
    }
}


        /************* Media query for responsive navbar end *******************/

    /* Website Introduction section start here */
    
#intro-content
{
    display: flex;
    flex-direction: column;
   /* border:2px dashed blue; */
   margin-left:216px;
   margin-top: 15%;
   
   /* width: 100%; */
   
}
#intro-content p:first-child
{
    font-size:2rem;
    word-spacing:10px;
    color:white;
    font-weight: bold;
}
#intro-content p:last-child
{
    font-size: 1rem;
    color:white;
    word-spacing:3px;
    margin-top:20px;

}
    /* Intro buttons start here */
    
#intro-btns
{
    margin-left: 216px;
    margin-top: 30px;
    
}
#intro-btns a
{
    text-decoration: none;
    
}
.intro-btns
{
    padding: 7px 10px;
    color:black;
    border-radius: 3px;
    background-color: #FFC107;      /*yellow color*/
    text-transform: uppercase;
}
.intro-btns:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt goldenrod;
}

.intro-btns:hover
{
    background-color:#65317D;
    color:white;
    /* cursor:pointer; */
}
/* Media query for Intro -content */

@media screen and (max-width: 700px) {
#intro-content
    {
        
    margin:35% 100px 10% 100px;

    }
    #intro-btns
    {
        margin-left: 100px;
        /* margin-top: 30px; */    
    }
    
}
/* Inro-content media query end here */
/* Intro buttons end here */

/******************************* Website Introduction section end here ********************************/

                                    /* *** Page - 2 styling start here *** */
.heading-2
{
    /* border:2px solid blue; */
    margin-top:8vh;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    word-spacing: 5px;
}
#Page2-Intro
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    /* border:2px solid black; */
    font-size: 20px;
    margin:0% 20% 0% 20%;
}
.intro-para
{
    /* border:2px solid blue; */
    padding: 10px 25px;
    color:gray
}
.umbrella-container
{
    /* border: 2px solid yellow; */
    padding: 10px 25px;
}
#umbrella-icon
{
    height: 175px;
    width: 175px;  
}
#SVG-parentContainer
{
    border:2px solid orange;
    display: flex;
    /* justify-content: space-around; */
    margin:0% 20% 0% 20%;
    padding: 10px 0px;
}
.bellparent,.msgparent,.drawerparent
{
    border:2px solid palevioletred;
    text-align: center;
    padding: 15px 10px;    
}
.bellparent h2, .msgparent h2, .drawerparent h2
{
    text-align: center;
    padding: 5px 8px;
    font-size: 20px;
    color:#65317D;
    text-transform: uppercase;
}
.bellparent p, .msgparent p, .drawerparent p
{
    text-align: center;
    padding: 8px 10px;
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5em;
}
.SVG-Cont-btn
{
    padding: 7px 10px;
    color:black;
    border-radius: 3px;
    background-color: #FFC107;      /*yellow color*/
    text-transform: uppercase; 
}
.SVG-Cont-btn:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt goldenrod;
}
.SVG-Cont-btn:hover
{
    background-color:#65317D;
    color:white;
    
}
.bellparent a, .msgparent a, .drawerparent a
{
    text-decoration: none; 
}

.descContainer
{
    /* border:2px solid purple; */
    width: 25%;
    margin-bottom: 4vh;
}

/* Media query for page-2  */
@media screen and (max-width:960px){
    #Page2-Intro{
        flex-direction: column;
    }
    #umbrella-icon
    {
        height: 150px;
        width: 150px;  
    }
    #SVG-parentContainer
    {
        flex-direction: column;
    }
}

                                /* *** Page - 2 styling end here *** */

             /* ******************** Page - 3 styling start here ************************ */
             
#heading-3
{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 6vh;
}
#projectContainer
{
    display: flex;
    /* border:2px solid blue; */
    
}
.card h3
{
    font-size:25px;
    padding:20px 0 0px 0;
    text-align: center;
    text-transform: uppercase;
}
.card p
{
    padding: 10px 0px 30px 65px;
}

.card
{
    background: rgb(233, 233, 233);
    color: rgb(87, 84, 84);
    line-height: 1.5em;
    padding-bottom:30px;
    
}
#card-2,#card-4
{
    background-color: rgba(238, 235, 232, 0.808);
}
.card:hover
{
    background-color:rgb(255, 221,109);
}
#card-2:hover, #card-4:hover
{
    background-color:rgb(255, 221,109);
}

.card-btn
{
    padding: 7px 10px;
    color:black;
    border-radius: 3px;
    background-color: #FFC107;      /*yellow color*/
    text-transform: uppercase; 
}
.card-btn:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt goldenrod;
}
.card-btn:hover
{
    background-color:#65317D;
    color:white;
    
}
.card a 
{
    text-decoration: none;
    margin:10px 0px 30px 65px;
}
/* Media query for page -3 */
@media screen and (max-width:960px) {
    #projectContainer
    {
        flex-direction: column;
    }
    
  
}
                     /* *************** Page - 3 styling end here ****************** */

        /* ***************************** Page - 4 styling start here *********************************** */


#heading-4
{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    margin: 8vh 0 8vh 0;
}
#pricingContainer
{
    display:flex;
    
    margin:0% 20% 8vh 20%;
}
.pricing
{
    width: 33.33%;
    text-align: center;
    border-right:2px solid gray;
    padding: 20px 5px;
}
.pricing:last-child
{
    border-right: none;
}
.pricing h3
{
    text-transform: uppercase;

}
.pricing p
{
    font-weight: 500;
    margin-top:20px;
}
.pricing :nth-child(6)
{
    margin-bottom: 25px;
}
.pricing :nth-child(2)
{
    color:grey;
    text-transform: uppercase;
    font-weight: normal;
}
.buy-btn
{
    padding: 7px 25px;
    color:black;
    border-radius: 3px;
    background-color: #FFC107;      /*yellow color*/
    text-transform: uppercase; 
    
}
.buy-btn:focus
{
    /* border:none; */
    box-shadow: 0 0 2.5pt 3pt goldenrod;
}
.buy-btn:hover
{
    background-color:#65317D;
    color:white;
    
}
.pricing a
{
    text-decoration: none; 
}
.pricing button
{
    width: 80px;
    padding:10px;
    border-radius: 3px;
    background-color: #FFC107;      /*yellow color*/
    border:none;
    text-transform: uppercase;
    margin-top: 20px;
}
.pricing button:hover
{
    background-color: #65317D;;
    color:white;
    cursor:pointer;
}
/* Media query for pricing table */
@media screen and (max-width:960px){
    #pricingContainer
    {
        flex-direction: column;
        
        align-items: center;
    }
    .pricing
    {
        border-right: none;
    }
    .pricing p
    {
        font-weight: 500;
        margin-top:5px;
    }
}

                      /* *****************Page -4 styling end here*************** */
                

            /***************************Page -5 styling start here********************************* */
#VprojectContainer
{
    /* border:2px solid black; */
    background-color: #65317D;
    margin-bottom: 8vh;
   
    
}
#heading-5
{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    margin: 8vh 0 2vh 0;
    color:white;
}
.videoContainer
{
    /* border: 2px solid yellow; */
    padding: 8vh 0 16vh 0;
   
}
.vframe
{
    margin:0 20px;
}

                            /* ************Page -5 styling end here************* */
                    
    /* **********************************Page -6 styling start here************************** */

#ZteamContainer
{
    margin:0% 15% 8vh 15%;
    display: flex;
    flex-wrap: wrap;
   
    /* border:1px solid brown; */
    justify-content: space-around;
}
#heading-6
{
    /* border:2px solid blue; */
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom:8vh;
    /* margin: 8vh 0 2vh 0; */
    
}
.Zteam{
    text-align: center;
    margin: 0 50px 0 50px;
   
    
}

.Zteam :nth-child(2)
{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.Zteam :nth-child(3)
{
    color:gray;
    margin-bottom: 6vh;
}
.Zteam img 
{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
                             /* *************Page -6 styling end here*************** */
                             

     /* ********************************* Page - 7 styling start here ********************************** */

#ZlifeContainer
{
    background-color: #E6E3E3;
    
}
#heading-7
{
    /* border:2px solid blue; */
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom:8vh;
}
#imageSlide
{
    margin:0 23% 0 23%;
    /* border:2px solid tomato; */
    
}
#imageSlide img
{
   
    width: 100%;
    margin-bottom: 4vh;
}
#imageminislider
{
    /* border:2px solid tomato; */
    margin:0 23% 0 23%;

}
#imageminislider img
{
    height: 110px;
    margin-bottom: 10vh;
    
}



                              /* *************Page -7 styling end here*************** */

    /* ********************************* Page - 8 styling start here ********************************** */
                            
.bridgeContainer
{
    /* width: 100%; */
    /* border:2px solid purple; */
    height: 60vh;
    margin-bottom: 10vh;
    /* overflow: hidden; */
    background: url(images/Night-Bridge.jpg) no-repeat;
    background-size: 100% 100%;
}

.bridgeContainer p
{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin:8vh 0 6vh 0;
    
}    
.newsform
{
       /* border:1px solid wheat; */
    margin: 0 100px 0 0px;
    text-align: center;
    position: relative;

}
.newsform input
{
    border-radius: 5px 0 0 5px;
    padding:12px;
    width:30%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    outline:none;
    color:cornflowerblue;
    font-weight: 600;
}
.newsform input:focus
{
    border:none;
    box-shadow: 0 0 3pt 2pt cornflowerblue;
    /* border-radius: 5px 0 0 5px; */
}    
#newsSignupbtn
{
    background-color: #FFC107;
    position:absolute;
    padding: 12px;
    
    width:10%;
    text-transform: uppercase;
    border-radius:0px 5px 5px 0;

    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    outline:none;
    font-weight: 500;
    
}
#newsSignupbtn:focus
{
    border:none;
    box-shadow: 0 0 3pt 2pt darkgoldenrod;

}
#newsSignupbtn:hover
{
    background-color: #65317D;
    color:white;
}

    
                          /* *************Page -8 styling end here*************** */

    /* ********************************* Page - 9 styling start here ********************************** */

#heading-9
{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom:8vh;
}
#BlogContainer
{
    margin: 0 15% 10vh 15%;
    border:2px solid saddlebrown;
    display: flex;
    justify-content: space-around;
}
.BlogMini
{

    width: 33%;
    margin:0px 20px ;
    overflow: hidden;
    text-align: center;
}
.BlogMini img
{
    height: 200px;
    width: 290px;
}
.BlogMini :nth-child(2)
{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    
    margin-top: 3vh;
}
.BlogMini :nth-child(3)
{
   
    margin: 2vh 0;
    color: gray;
    font-size: 17px;
}
.BlogMini :nth-child(4)
{
    
    margin-bottom: 5vh;
}
.BlogMini :nth-child(5)
{
    
    width: 110px;
    padding:10px;
    border-radius: 3px;
    background-color: #E6E3E3;      /*lightgray color*/
    border:none;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6vh;
}
.BlogMini :nth-child(5):hover
{
    background-color: #FFC107;
    cursor:pointer;
}
                        /* *************Page - 9 styling end here*************** */
     /* ********************************* Page - 10 styling start here ********************************** */
#p10Container
{
    
    /* border:2px solid purple; */
    display: flex;
    margin-bottom: 10vh;
}
.Map
{
    
    
}
.cont-form
{
    background-color: #FFDD6D;
   
}
.Map, .cont-form
{
    /* border:2px solid blue; */
    width: 50%;
}
.cont-form :first-child
{
    margin:10vh 0 5vh 60px;
    font-size: 40px;
    font-weight: 600;
    
}
.cont-form label
{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 450;
}
.cont-form label,input,textarea
{
    margin-left: 60px;
}
.cont-form input 
{
    margin:1.5vh 0 3vh 60px;
    border-radius:5px;
    width: 50%;
    padding: 8px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    outline:none;
    color:gray;
}
.cont-form input:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt gray;
}

.cont-form textarea
{
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    outline:none;
    color:gray;
    width: 50%;
    border-radius: 5px;
    margin:1.5vh 0 3vh 60px;
}
.cont-form textarea:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt gray;
}
.cont-form button
{
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: none;
    outline:none;
    width: 50%;
    padding:10px;
    border-radius: 5px;
    background-color: #65317D;      /*purple color*/
    color:white;
    border:none;
    text-transform: uppercase;
    font-weight: 500;
    margin:3vh 0 6vh 60px;
    
}
.cont-form button:focus
{
    border:none;
    box-shadow: 0 0 2.5pt 3pt gray;
}
.cont-form button:hover
{
    color:black;
}


                            /* *************Page - 10 styling end here*************** */
#footer-section
{
    display: flex;
    margin: 0 15% 10vh 15%;
    border:2px solid black;
    justify-content: space-around;
}
.f-sections
{
    width: 33%;
    text-align: center;
    
}
.f-sections h5
{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 2vh;
}
.f-sections p
{
    margin-bottom:1vh;
}

span .social {
    color: blue;
    font-size: 25px;
    padding: 6px 8px;
}




.claim
{
    padding: 20px;
    text-align: center;
}
.claim:hover
{
    background-color: black;
    color: #fff;
}
.claim:hover .Shahzada
{
    color:cyan;
}